<div class="jumbotron bg-dark display-3 text-white text-center">Burgers!</div>
<div class="row mb-5">
  <div class="col-md-6 offset-3 border border-secondary rounded-lg pt-5 pb-5">

    <div class="row">
      <div class="col-md-12">

        <h2 class="border border-secondary rounded-lg pl-2">Burgers that are NOT devoured!</h2>

        <ul class="">
          {{#each burger}}
          {{#unless devoured}}
          {{> burgers/burger-block devour=false}}
          {{/unless}}
          {{/each}}
        </ul>

      </div>
    </div>


    <div class="row">
      <div class="col-md-12">

        <h2 class="border border-secondary rounded-lg pl-2">Burgers that are devoured!</h2>

        <ul class="">
          {{#each burger}}
          {{#if devoured}}
          {{> burgers/burger-block devour=true}}
          {{/if}}
          {{/each}}
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="border border-secondary rounded-lg pl-2">Add a Burger</h2>
        <form class="form-group">
            <label for="ca"></label>
            <input class="mt-3 form-control" type="text" id="ca" placeholder="Burger Name" name="burger_name"><br>
            <button id="send" class="btn btn-secondary btn-block" type="submit">Add Burger</button>
        </form>
      </div>
    </div>
  </div>

</div>
</div>